DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_PORT=5432
DB_DATABASE=postgres
DB_USER=postgres.scnspawdpoxpdiqcyyez
DB_PASSWORD=mYW71xY1ZbNRWl4Z
DB_URL=postgresql://postgres.scnspawdpoxpdiqcyyez:mYW71xY1ZbNRWl4Z@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
